<!doctype html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/forget pass.css">
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/flexboxgrid.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<title>forget pass</title>
</head>

<body>
	<main>
		<div class="forget-contaner">
			<div class="row">
				<div class="col-lg-8">
					<div class="forget-box">
						<form action="">
							<div class="input-group">
								<label for="">گذر واژه خود را فراموش کرده اید؟ ایمیل خود را وارد کنید سپس یک لینک برای ساختن گذر واژه جدید در ایمیل خود دریافت خواهید کرد. </label>
								<input type="text">
							</div>
							<div class="submit-btn">
								<input value="بازگردانی رمز عبور" type="submit">
							</div>
						</form>
						<div class="social-auth">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-google-plus-g"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="forget-img">
						<img src="svg/forget.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
