<!doctype html>
{% load static %}
<html><head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<title>login</title>
</head>

<body>
	<main>
		<div class="login-contaner">
			<div class="row">
				<div class="col-lg-8">
					<div class="login-box">
						<form action="">
							<div class="input-group">
								<label for="">نام کاربری :</label>
								<input type="text">
							</div>
							<div class="input-group">
								<label for="">رمز عبور :</label>
								<input type="password">
							</div>
							<p class="forget">
								<a href="{% url 'forget-pass' %}">رمز عبورتان را فراموش کرده اید؟</a>
							</p>
							<div class="submit-btn">
								<input value="ورود" type="submit">
							</div>
							<p class="do-you-have">
								حساب کاربری ندارید؟
								<a href="{% url 'sign-up' %}">ایجاد حساب کاربری</a>
								کمتر از یک دقیقه از زمان شما را خواهد گرفت
							</p>
						</form>
						<div class="social-auth">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-google-plus-g"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="login-img">
						<img src="{% static 'svg/for_login.svg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
